<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг книги</title>
</head>
<body>
    <span class="Rating-stars" th:fragment="book_rating(bookRating)">
        <span class="Rating-star" th:each="i : ${#numbers.sequence(0, 4)}" th:classappend="${i <= bookRating - 1 ? 'Rating-star_view' : ''}">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
            <g>
              <g>
                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
              </g>
            </g>
          </svg>
        </span>
    </span>

</body>
</html>