<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Навигационная строка</title>
</head>
<body>
    <ul class="breadcrumbs" th:fragment="breadcrumbs" th:with="curItem='top.' + ${active}">
        <li class="breadcrumbs-item"><a href="/" th:text="#{topbar.main}">Главная</a>
        </li>
        <li class="breadcrumbs-item"><a href="/genres/main" th:text="#{nav.books}">Книги</a>
        </li>
        <li class="breadcrumbs-item breadcrumbs-item_current" th:text="#{${curItem}}"><span>Популярное</span>
        </li>
    </ul>
</body>
</html>