<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Элемент списка жанров</title>
</head>
<body>
    <div class="Tags" th:fragment="genre_node" th:each="node : ${genres}">
        <div class="Tags-title">
            <div class="Tag"><a href="/genres/slug" th:text="${node.getName()}">Детективы<span class="undefined-amount">(10)</span></a></div>
        </div>
        <div th:if="${node.childs != null}" th:replace="~{fragments/genre_item :: genre_node}"> </div>
<!--        <div class="Tag"  th:each="child : ${node.childs}"><a href="/genres/slug" th:text="${child.getName()}">Триллер<span class="undefined-amount">(134)</span></a></div>-->
    </div>
</body>
</html>