<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Скрипты для переключения языка</title>
</head>
<body>
    <div th:fragment="switcher" th:remove="tag">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function() {
                    var selectedOption = $("#locales").val();
                    if (selectedOption != '') {
                        window.location.replace('?lang='+selectedOption);
                    }
                });
            });
        </script>
    </div>
</body>
</html>