<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 5px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <table id="messages">
        <tr>
            <td th:text="${lastMessage}"></td>
        </tr>
    </table>
    <table id="filters">
        <tr>
            <td th:text="${filterMessage}"></td>
        </tr>
    </table>
    <a th:href="@{/files}">Working with files</a>
    <form method="post" th:action="@{/books/remove}" th:object="${removeById}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="id" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove by id">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/remove_by_author}" th:object="${removeByAuthor}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="remove by author">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/question}" th:object="${removeByAuthor2}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="question">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/remove_by_title}" th:object="${removeByTitle}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="title or part of title" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="remove by title or part">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/remove_by_size}" th:object="${removeBySize}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="remove by size">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/set_author_filter}" th:object="${filterByAuthor}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="type for filter by Author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="set filter by Author">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/set_title_filter}" th:object="${filterByTitle}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="type for filter by Title" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="set filter by Title">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/set_size_filter}" th:object="${filterBySize}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="2">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="type for filter by size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="set filter by Size">
                </td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr th:if="${#fields.hasErrors()}">
                <td colspan="4">
                    <div>
                        <ul>
                            <li th:each="err : ${#fields.errors()}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>
    <form method="get" th:action="@{/books/clear_filter}">
        <input type="submit" value="clear all filters">
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>