<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload and Download files</title>
</head>
<body>
    <a th:href="@{/books/shelf}">Back to the book shelf</a>
    <h2 th:text="${errorMessage}"></h2>
    <br>
    <form method="post" th:action="@{/upload}"  enctype="multipart/form-data">
        <div>
            <input type="file" name="file">
            <br>
            <input type="submit" name="upload">
        </div>
    </form>
    <br>
    <p> List files stored by server</p>
    <table id="files">
        <tr>
            <th>filename</th>
            <th>download file</th>
            <th>delete file</th>
        <tr th:each="fileName : ${listFiles}">
            <td th:text="${fileName}"></td>
            <td><a th:href="@{/getFile(fn=${fileName})}">download</a></td>
            <td><a th:href="@{/deleteFile(fn=${fileName})}">delete</a></td>
        </tr>
    </table>
</body>
</html>