<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload and Download files</title>
</head>
<body>
    <a th:href="@{/books/shelf}">Back to the book shelf</a>
    <p th:text="${message}"></p>
    <br>
    <form method="post" th:action="@{/upload}"  enctype="multipart/form-data">
        <div>
            <input type="file" name="file">
            <br>
            <input type="submit" name="upload">
        </div>
    </form>
    <br>

</body>
</html>