<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register in book shelf</title>
    <style>
        #reg_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .login_item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="reg_form">
    <form method="post" th:action="@{/login/reg}" th:object="${loginForm}">
        <img class="login_item" th:src="@{/images/book_icon.png}">
        <br>
        <input class="login_item" type="text" placeholder="type new username" th:field="*{username}">
        <br>
        <input class="login_item" type="password" placeholder="type new password" th:field="*{password}">
        <br>
        <input class="login_item" type="submit" value="register">
    </form>

</div>
</body>
</html>