<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!--    Обработка стандартных ошибок HTTP-->
    <error-page>
<!--        Код ошибки-->
        <error-code>404</error-code>
<!--        Адрес страницы на который перенаправляем в случае ее возникновения-->
        <location>/404</location>
    </error-page>

</web-app>
